#ignore target directory
wtmi/build/*
#ignore all intermediate files
*.[oad]
*.elf
*.dis
*.bin
#ignore specific files
ddr_static.txt
autoconf.h
tim/ddr/ddr_tool
tim/ddr/clocks_ddr.txt
wtmi/fuse/fuse.ld
wtmi/sys_init/sys_init.ld
